# .github/workflows/ci.yml
name: CI

# Run the workflow on pushes and PRs to the default branches
on:
  push:
    branches: 'main'
  pull_request:
    branches: 'main'

jobs:
  test:
    # What kind of VM to run on
    runs-on: ubuntu-latest

    # Test against several Julia versions
    strategy:
      matrix:
        julia-version: ['1.11']

    steps:
      # 1) Get a copy of the repo
      - uses: actions/checkout@v4

      # 2) Install Julia
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}

      # 3) Instantiate the package environment
      - name: Instantiate dependencies
        run: julia --color=yes -e '
          using Pkg;
          Pkg.activate(".");
          Pkg.instantiate();'

      # 4) Run the tests
      - name: Run tests
        run: julia --color=yes -e '
          using Pkg;
          Pkg.test(; coverage=true);'

      # 5) (Optional) Upload coverage to Coveralls
      # - uses: julia-actions/julia-uploadcoveralls@v1
      #   if: success() && github.event_name == 'push'